body{
    background-image: url('http://localhost:8888/lol.png');
}

.main{
    display: flex;
    flex-direction: row;
    align-items: stretch;


}

.damier{
    text-align: center;
}

#tablier{
    margin:10px;
    width:625px;
    background: transparent;
    height:490px;
    text-align:center;
    border-radius:50px;
    border: 2px solid;
}

.init{
    text-align: center;
    margin:70px;

}
